<html><head>
	<style>
#challenge {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#challenge td, #challenge th {
  border: 1px solid #ddd;
  padding: 8px;
}

#challenge tr:nth-child(even){background-color: #f2f2f2;}

#challenge tr:hover {background-color: #ddd;}

#challenge th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #09A0D3;
  color: white;
}
</style>
</head>
<body>
<!--
Kingman color: 65CC33
Lodi color: 1E54A5
-->
{% if error %}
	<p style="color: red;">{{ error }}</p>
{% else %}
	<h1>Overall Leaderboard</h1>
	<table id="challenge">
	<tr><th><b>Participant</b></th><th><b>Team</b></th><th><b>Score</b></th></tr>
	{% for leader in leaderboard %}
	<tr>
		<td>{{leader.user}}</td>
		<td>{{leader.team}}</td>
		<td>{{leader.score}}</td>
	</tr>
	{% endfor %}
	</table>
	
	{% for team in team_leaderboard %}
		<h1>{{team.team}} Leaderboard</h1>
		<table id="challenge">
		<tr><th><b>Participant</b></th><th><b>Score</b></th></tr>
		{% for leader in team.players %}
		<tr>
			<td>{{leader.user}}</td>
			<td>{{leader.score}}</td>
		</tr>
		{% endfor %}
		</table>
	{% endfor %}
{% endif %}
</body></html>