{% if error %}
	<p style="color: red;">{{ error }}</p>
{% else %}
	<h2>Daily Scorecard </h2>
	<table><tr>
	<td><b>Viewing {{display_date}}</b></td>
  </tr><tr>
	<td align="center">{% if prev_url %} <<&nbsp;<a href="{{prev_url}}">Previous Day</a> {% endif %}&nbsp;<<</td>
	</tr><tr>
	<td align="center">{% if next_url %} >>&nbsp;<a href="{{next_url}}">Next Day</a> {% endif %}&nbsp;>></td>
	</tr></table>
	
	<form action="" method="post">
	<table>
	{% for item in scorecard_items %}
		{% if item.category.name != "Bonus"%}
		{% ifchanged item.category %}
			<tr bgcolor="#808080"><td><b>{{item.category.name}}</b></td><td></td></tr>
		{% endifchanged %}
		<tr>
		<td>{{item.name}}</td>
		<td><input type="number" name="{{item.id}}" min="{{item.min_points}}" max="{{item.max_points}}"
					{% if form_disabled %} disabled {% endif %}
			 		
			 		{% for point in date_view_points %}
						{% if point.item.id == item.id %}
							value="{{point.score}}"
						{% endif %}
					{% endfor %}
					>
	</td></tr>
	{% endif %}
	{% endfor %}
</table>
{% csrf_token %}
<input type="submit" value="submit" {% if form_disabled %} disabled {% endif %}>
</form>

	<h2>Totals</h2>
	This Week:{{weekly_score}}<br/>
	Challenge: {{challenge_score}}<br/>
	Bonuses: 
	{% if bonuses %}
		{% for bonus in bonuses %}
			{{bonus}}{% if not forloop.last %},{% endif %}
		{% endfor %}<br/>
	{% else %}
		None
	{% endif %}
	<h2>Challenge Details</h2>
	Scoring starts: {{challenge_start_date}}<br/>
	Scoring stops: {{challenge_stop_date}}<br/>
{% endif %}